<h1>Javascripts</h1>

<p>Javascripts are text assets used by your web pages, layouts, and snippets to add dynamic behaviors.</p>

<table id="js_assets" class="index" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th class="js_asset">Javascript</th>
      <th class="modify">Modify</th>
    </tr>
  </thead>
  <tbody>
<% unless @js_assets.empty? -%>
<% for js_asset in @js_assets -%>
    <tr class="node level-1">
      <td class="js_asset">
        <%= image "javascript", :class => "icon", :alt => 'javascript-icon', :title => '' %>
        <span><%= link_to js_asset.filename, js_asset_edit_url(:id => js_asset) %></span>
      </td>
      <td class="remove"><%= link_to image('remove', :alt => 'Remove Javascript'), js_asset_remove_url(:id => js_asset) %></td>
    </tr>
<% end -%>
<% else -%>
    <tr>
      <td colspan="2" class="note">No Javascripts</td>
    </tr>
<% end -%>
  </tbody>
</table>
<script type="text/javascript">
// <![CDATA[
  new RuledTable('js_assets');
// ]]>
</script>

<p><%= link_to image('new-javascript', :alt => 'New Css'), js_asset_new_url %></p>
