<h1>Stylesheets</h1>

<p>Cascading Stylesheets (CSS) are text assets used by your web pages, layouts, and snippets to stylize your content.</p>

<table id="css_assets" class="index" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th class="css_asset">Stylesheet</th>
      <th class="modify">Modify</th>
    </tr>
  </thead>
  <tbody>
<% unless @css_assets.empty? -%>
<% for css_asset in @css_assets -%>
    <tr class="node level-1">
      <td class="css_asset">
        <%= image "stylesheet", :class => "icon", :alt => 'stylesheet-icon', :title => '' %>
        <span><%= link_to css_asset.filename, css_asset_edit_url(:id => css_asset) %></span>
      </td>
      <td class="remove"><%= link_to image('remove', :alt => 'Remove Stylesheet'), css_asset_remove_url(:id => css_asset) %></td>
    </tr>
<% end -%>
<% else -%>
    <tr>
      <td colspan="2" class="note">No Stylesheets</td>
    </tr>
<% end -%>
  </tbody>
</table>
<script type="text/javascript">
// <![CDATA[
  new RuledTable('css_assets');
// ]]>
</script>

<p><%= link_to image('new-stylesheet', :alt => 'New Css'), css_asset_new_url %></p>
